/* 
    Document   : style
    Created on : Nov 6, 2011, 5:57:21 PM
    Author     : adamford
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#logo {
    background-color: #E8EDF0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
}

#formContainer {
    margin-left: 30px;
    padding-left: 20px;
    width: 300px;
    margin-bottom: 50px;
    float: left;
    background-color: #E8EDF0;
}
#container {
    width: 700px;
    min-height: 750px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
}
#spacer {
    height: 100px;
}


#nav {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc;
}
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #ccc; 
    float: left;}
#nav li a:hover {
    color: #c00;
    background-color: #fff; }


body {
    background-color: #B8B8B8 ;
}
#searchButton, #loginButton{

    float: right;
}
#failedLogin{
    color: red;
    padding-left: 50px;
}

#searchResult{

    margin-bottom: 50px;
}


table.room_info {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #AAA;
}

.room_info > thead th {
    background: #CCC;
    vertical-align: middle;
    font-weight: bold;
    padding: .25em 0;
}

.room_info > tbody {
    height: 115px;
}

.room_info td.room_desc {
    background-position: 0 100%;
}
.room_info td {
    vertical-align: top;
}
.room_info td.availability {
    width: 80px;
    background-position: 50% 100%;
}
.room_info > tbody > tr > td {
    padding-top: 5px;
}
.room_info td.price {
    width: 190px;
    background-position: 100% 100%;
}

.room_info .pricing_wrapper {
    height: 7.3em;
    padding: 0 0 2em;
    position: relative;
}

.total {
    font-weight: bold;
    color: #C00;
}


.reserveButton {
    background-color: red;
    color: white;
    font-weight: bold;
}

#reserveForm {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#findReservation{
    float: left;
    margin-left: 80px;
    margin-bottom: 40px;
}

#reservationInfo{
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

.blueButton{
    background-color: #5E86AE;
    color: white;
}

#notAvailable{
    width: 580px;
    margin-left: 50px;
    color: red;
}

.specials{
    width: 514px;
    margin-left: 94px;
    background-color: #E8EDF0;
}

.center{
    text-align: center;
}

.redButton{
    background-color: red;
    color: white;
}

.greenLetters {
    color: green;
}

#checkResponse {
    margin-top: 20px;
}